body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
	display: inline-block;
	content: "[";
	padding-right: 0.5em;
}

.btn-bracketed::after {
	display: inline-block;
	content: "]";
	padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}


/*========================================================================================================*/


form, section {
	border: 1px solid #2e6da4;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}


.validation-message {
	display: block;
	padding: 10px;
}


h1, h2, h3, h4 {
	color: #337ab7;
	font-family: Georgia, serif;
}

.skinny {
	padding-left: 0px;
	padding-right: 0px;
}

footer {
	text-align: center;
}

hr {
	color: #2e6da4;
}


.header-container > .row {
	font-weight: bold;
	border-bottom: 2px solid #2e6da4;
	padding-bottom: 15px;
}

.body-container > .row {
	border-bottom: 1px dotted #2e6da4;
}

.table-row {
	padding: 10px 0px;
}

.table-row:hover {
	background-color: #337ab7;
	color: #FFFFFF;
}

@media (max-width: 991px) {
	section {
		border: none;
	}
	.header-container {
		display: none;
	}
	span.mobile-header {
		display: inline;
		font-weight: bold;
	}
	.table-row {
		border: 1px solid #2e6da4;
		border-radius: 5px;
		margin-bottom: 5px;
	}
}

@media (min-width: 992px) {
	span.mobile-header {
		display: none;
	}
}
