@{
    ViewData["Title"] = "Get Started";
}

<h3>Lets Get Started!</h3>
<div class="col-sm-12">
	<p>Leave is a little bit of information about yourself and your investment property, and we will contact you soon!</p>
</div>
<section id="step-one">
	<div class="col-sm-12">
		<label for="name-first">First Name</label>
		<input type="text" id="name-first" class="form-control" />
	</div>
	<div class="col-sm-12">
		<label for="name-last">Last Name</label>
		<input type="text" id="name-last" class="form-control" />
	</div>
	<div class="col-sm-12">

	</div>
</section>

