
@{
    ViewData["Title"] = "ThankYou";
}

<h2>ThankYou</h2>
<div class="form-group input-group col-md-2">
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-chevron-right">
			<span style="font-size: 1.3em; font-weight: bold; padding-bottom: 15px;">=</span>
		</span>
	</span>
	<input type="number" class="form-control" />
</div>
